#Head {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-style: solid;
    border-radius:5%;
    border-width: medium;
    border-color: aliceblue;
    color: white;
    margin-left: 30% ;
    margin-right: 30% ;
    text-align: center;
}

body{
    background:radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%) ;
    color: white;
}

#form{
    text-align: center;
}

#chatcontent{
    text-align: center;
    border-style: solid;
    background-color: rgb(110, 50, 221);
}

#chat{
    text-align: center;
    border-style: solid;
    background-color: rgb(110, 50, 221);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: white;
    font-weight: 400;
    margin-top: 5%;
    border-color: white;
    border-radius: 8%;
    
}

#reset{
    text-align: center;
    border-style: solid;
    background-color: rgb(110, 50, 221);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: white;
    font-weight: 400;
    border-color: white;
    border-radius: 8%;
    
}

#chatlist{
    color: white
}
